body, html {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  .snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    animation: snow-fall 10s linear infinite;
  }
  
  .snow:before {
    content: "🐙";
    position: absolute;
    color: #fff;
    font-size: 35px;
  }
  
  @keyframes snow-fall {
    0% {
      transform: translateY(-50px) translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100vh) translateX(300px);
      opacity: 1;
    }
  }